a {
  text-decoration: none;
  color: #111;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
.inner {
  width: 1280px;
  margin: 0px auto;
  position: relative;
}
.swiper-container {
  width: 100%;
}
.km_sprite {
  background-image: url('/images/koreanmall_icons.png');
  background-repeat: no-repeat;
}
.sec_tit {
  padding-top: 60px;
  letter-spacing: -0.03em;
  position: relative;
}
.sec_tit::after {
  content: '';
  display: block;
  border-bottom: 2px solid #222;
  width: 100%;
}
.sec_tit.noborder::after {
  border-bottom: 0px;
  margin-bottom: 0px;
}
.sec_tit h4 {
  font-size: 28px;
  color: #000;
}
.sec_tit h4 em {
  font-size: 13px;
  color: #333;
  line-height: 50px;
  padding-left: 20px;
}
.sec_tit a {
  position: absolute;
  font-size: 15px;
  font-weight: 400;
  color: #111;
  right: 0;
  top: 78px;
  padding-right: 20px;
}
.sec_tit a:hover {
  color: #f91f23;
}
.sec_tit a:hover em {
  transform: rotate(360deg);
}
.sec_tit a em {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  background-position: -66px -90px;
  transform: rotate(0deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.price_typeA {
  padding: 15px;
}
.price_typeA dt {
  line-height: 19px;
  height: 40px;
  font-size: 13px;
  color: #000;
  overflow: hidden;
}
.price_typeA .price_info {
  position: relative;
}
.price_typeA .price_info .price_cus {
  font-family: "roboto", sans-serif;
  display: block;
  margin-bottom: 2px;
}
.price_typeA .price_info .price_sale {
  font-family: "roboto", sans-serif;
  display: block;
}
.price_typeA .price_info .salep {
  position: absolute;
  right: 10px;
  bottom: -3px;
  display: inline-block;
  font-size: 20px;
  color: #ff3249;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}
.price_typeA .price_info .salep em {
  font-size: 14px;
}
.price_typeA .price_info .point {
  height: 30px;
  line-height: 28px;
  display: block;
  color: #ff3249;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.price_info {
  font-family: "roboto", sans-serif;
}
.price_info .price_cus {
  color: #999;
  font-size: 14px;
  text-decoration: line-through;
  letter-spacing: 0;
  padding: 10px 0 0 0;
}
.price_info .price_sale {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  padding: 0 0 9px 0;
}
.price_info .salep {
  font-size: 28px;
  color: #ff3249;
  text-align: center;
  line-height: 35px;
  letter-spacing: -1px;
}
.price_info .salep em {
  font-size: 20px;
}
.price_info .point {
  padding: 2px 0 0 0;
  display: inline-block;
  color: #ff3249;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 150%;
  position: relative;
}
.price_info .point b {
  display: inline-block;
  border: 1px solid #ff3248;
  height: 14px;
  line-height: 15px;
  padding: 0 1px;
  margin-right: 5px;
  color: #ff3249;
  background-color: #fff;
  font-family: dotum, '맑은고딕', Malgun Gothic, '돋음', 'Apple Gothic', '애플고딕', arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
}
header {
  height: 120px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
}
header h1 {
  position: absolute;
  top: 23px;
  left: 0px;
  background-position: -2px -5px;
}
header .km_logo a {
  display: block;
  width: 194px;
  height: 65px;
  text-indent: -9999px;
}
.gnb_util {
  position: absolute;
  right: 0px;
  top: 23px;
}
.gnb_util ul li {
  float: left;
  margin: 0 10px;
}
.gnb_util ul li a {
  display: block;
  width: 55px;
  height: 55px;
  font-size: 12px;
  text-align: center;
  color: #666;
  transition: opacity 0.3s;
}
.gnb_util ul li a:hover {
  text-decoration: underline;
  opacity: 0.5;
}
.gnb_util ul li a i {
  display: block;
  width: 40px;
  height: 46px;
  margin: 0px auto;
}
.gnb_util ul li a i.login {
  background-position: -2px -200px;
}
.gnb_util ul li a i.myshop {
  background-position: -43px -200px;
}
.gnb_util ul li a i.cart {
  background-position: -84px -200px;
}
.gnb_util ul li a span {
  display: block;
  margin-top: 8px;
}
nav {
  height: 50px;
  border-bottom: 2px solid #111;
}
nav .global_category .cat_menu .global_btn {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #111;
  color: #fff;
  line-height: 54px;
  position: relative;
  padding-left: 50px;
  letter-spacing: -0.03em;
  box-sizing: border-box;
}
nav .global_category .cat_menu .global_btn::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 18px;
  background-image: url('/images/koreanmall_icons.png');
  background-repeat: no-repeat;
  background-position: -37px -88px;
}
nav .global_category .cat_menu .global_btn .cat {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 23px;
  height: 23px;
  background-position: -8px -86px;
}
nav .global_category .cat_list {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 198px;
  min-height: 419px;
  border: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 80;
}
nav .global_category .cat_list ul li .sub_cate {
  position: absolute;
  display: none;
  width: 810px;
  height: 502px;
  top: -1px;
  left: 199px;
  z-index: 81;
  border: 2px solid #222;
  border-left: none;
  padding-bottom: 25px;
  background-color: #fff;
  box-sizing: border-box;
}
nav .global_category .cat_list ul li .sub_cate h3 {
  padding: 35px 28px 10px 35px;
  font-size: 26px;
  font-weight: bold;
}
nav .global_category .cat_list ul li .sub_cate dl {
  width: 160px;
  box-sizing: border-box;
  margin: 30px 0 0 35px;
  float: left;
}
nav .global_category .cat_list ul li .sub_cate dl dt {
  height: 15px;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: bold;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
nav .global_category .cat_list ul li .sub_cate dl dd a {
  display: block;
  font-size: 15px;
  height: 30px;
  color: #000;
  overflow: hidden;
  padding: 5px 10px 8px 0px;
  line-height: 18px;
  background-color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
nav .global_category .cat_list ul li .sub_cate dl dd a:hover {
  text-decoration: underline;
}
nav .global_category .cat_list ul li .sub_cate .sub_cate_ban {
  position: absolute;
  right: 32px;
  top: 0px;
}
nav .global_category .cat_list ul li .sub_cate .sub_cate_ban .tit {
  display: block;
  padding: 35px 28px 15px 0px;
  font-size: 18px;
  font-weight: bold;
}
nav .global_category .cat_list ul li .sub_cate .sub_cate_ban a {
  display: block;
  height: 398px;
  border: 1px solid #ccc;
  transition: opacity 0.3s;
}
nav .global_category .cat_list ul li .sub_cate .sub_cate_ban a:hover {
  opacity: 0.8;
}
nav .global_category .cat_list ul li .global_cat_m {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  box-sizing: border-box;
  color: #fff;
  transition: background-color 0.3s;
}
nav .global_category .cat_list ul li .global_cat_m:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
nav .home_gnb {
  position: absolute;
  top: 0px;
  left: 220px;
}
nav .home_gnb ul li {
  float: left;
  margin: 0 18px;
  height: 50px;
  line-height: 50px;
}
nav .home_gnb ul li a {
  letter-spacing: -0.03em;
  padding: 15px 20px;
  position: relative;
}
nav .home_gnb ul li a:hover {
  color: #f91f23;
  border-bottom: 2px solid #f91f23;
}
nav .home_gnb ul li a.km_new::after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url('/images/koreanmall_icons.png');
  background-repeat: no-repeat;
  background-position: -85px -90px;
}
.search_area {
  position: absolute;
  top: 40px;
  left: 390px;
  width: 490px;
  height: 40px;
  border: 2px solid #f91f23;
  border-radius: 20px;
}
.search_area fieldset legend {
  display: none;
}
.search_area fieldset .input_ui {
  padding: 0 40px 0 22px;
  position: relative;
}
.search_area fieldset .input_ui input[type='text'] {
  width: 387px;
  height: 40px;
  padding-right: 30px;
  border: 0;
  font-size: 18px;
  line-height: 40px;
  color: #111;
  background-color: transparent;
  font-size: 16px;
}
.search_area fieldset .input_ui button {
  position: absolute;
  top: 7px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: 0px;
  background-color: #fff;
  text-indent: -9999px;
  background-size: 200px;
  cursor: pointer;
}
.search_area fieldset .input_ui button.search {
  background-position: -50px -98px;
}
.search_area label {
  display: none;
}
.gnb_ban {
  position: absolute;
  top: 15px;
  left: 0px;
}
footer .notice_area {
  width: 100%;
  height: 54px;
  background-color: #f6f6f6;
  position: relative;
}
footer .notice_area .list_company ul li {
  float: left;
  width: 120px;
  text-align: center;
  position: relative;
}
footer .notice_area .list_company ul li::after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
  width: 1px;
  height: 15px;
  background-color: #abbaba;
}
footer .notice_area .list_company ul li:last-child::after {
  display: none;
}
footer .notice_area .list_company ul li a {
  display: block;
  line-height: 56px;
  color: #4d4d4d;
  font-size: 14px;
}
footer .notice_area .list_company ul li a:hover {
  color: #000;
  text-decoration: underline;
}
footer .notice_area .list_sns {
  position: absolute;
  top: 17px;
  right: 0;
}
footer .notice_area .list_sns ul {
  text-align: center;
}
footer .notice_area .list_sns ul li {
  text-indent: -9999px;
  display: inline-block;
}
footer .notice_area .list_sns ul li.weibo {
  width: 30px;
  height: 25px;
  background-position: -5px -340px;
}
footer .notice_area .list_sns ul li.instagram {
  width: 30px;
  height: 25px;
  background-position: -40px -339px;
}
footer .notice_area .list_sns ul li.facebook {
  width: 61px;
  height: 25px;
  background-position: -75px -339px;
}
footer .notice_area .list_sns ul li a {
  display: block;
}
footer .copyright_area {
  position: relative;
  margin-top: 40px;
  margin-bottom: 60px;
}
footer .copyright_area::after {
  content: '';
  display: block;
  clear: both;
}
footer .copyright_area .foot_logo {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 120px;
  height: 37px;
  background-position: -14px -267px;
  text-indent: -9999px;
  margin-left: 0px;
  margin-right: 100px;
}
footer .copyright_area .foot_address {
  padding-left: 200px;
}
footer .copyright_area .foot_address .foot_crt {
  width: 920px;
  color: #666;
}
footer .copyright_area .foot_address .foot_crt span {
  font-size: 11px;
  font-family: 'Dotum', sans-serif;
  padding-right: 26px;
  position: relative;
}
footer .copyright_area .foot_address .foot_crt span::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}
footer .copyright_area .foot_address .foot_crt span:last-child::after {
  display: none;
}
footer .copyright_area .foot_address .foot_policy {
  margin: 20px 0;
}
footer .copyright_area .foot_address .foot_policy span {
  display: block;
  font-size: 11px;
  font-family: 'Dotum', sans-serif;
  color: #666;
}
footer .copyright_area .foot_address .cr {
  font-family: 'Dotum', sans-serif;
  font-size: 11px;
  color: #666;
  margin-bottom: 5px;
}
footer .foot_cert {
  margin: 30px 0;
}
footer .foot_cert ul {
  text-align: center;
}
footer .foot_cert ul li {
  display: inline-block;
}
